{% extends 'base.html' %}

{% load static %}

{% block contenido %}

<section class="">
  <div class="">
    <div class="">
      <div class="contenedor">
        <div class="nosotros">
          <div class="">
            <h1>El lugar donde buscar trabajo o trabajadores nunca fue tan fácil</h1>
          </div>
          <p>Ante el inminente desarrollo tecnológico, SOLUTIONS se compromete en ser un canal entre todas aquellas personas que, teniendo alguna formación profesional, o no, busca desempeñarse en actividades de toda clase de dificultad, rama, especialidad, etc. pueda encontrar todas clase de propuestas para postularse. A su vez, todas aquellas personas que buscan profesionales con un feedback de trabajos anteriores y con un perfil completo puedan, a través de SOLUTIONS encontrar la manera de elegir al trabajador ideal para su necesidad. 2 aspectos: Dar trabajo y Dar opciones para contratar la persona indicada.</p>
        </div>
      </div>
      <div class="col-lg-6 challange_img">
        <div class="challange_img_inner">
          <img class="img-fluid" src="{% static 'img/uruguay.jpg' %}" alt="">
          <img src="{% static 'img/uruguay.jpg' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<!--================End Challange Area =================-->

<!--================We Are Company Area =================-->

<section class="">
  <div class="contenedor">
    <div class="nosotros">
      <h2>No dudes en contactanos siempre que lo necesites: <a href="mailto:solutions@gmail.com">solutions@gmail.com</a> </h2>
    </div>
  </div>
</section>

<!--================End We Are Company Area =================-->

{% endblock %}
